################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Opgave Bedrijven def/.vs
/SolutionUTbestelling/.vs/SolutionUTbestelling/FileContentIndex
